body {
    font-family:tahoma;
    font-size:100%;
    background: white;
}

#container {
    width:100%;
}


table
{
    border-color: #777;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

table
{
	background: grey;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

td
{
    border-color: #bbb;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 3px;
    background-color: #FFE;
    text-align:center;
    font-size:0.8em;
}


th {
    font-size:0.8em;
    font-weight:bold;
    border-color: #bbb;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding:5px;
    background-color: #66CCFF; color: black;
    
}


h1 {
    font-size: 1.3em;
    background-color: #6699CC ; 
    text-align:center;
}

h2 {
    font-size: 1.1em;
    background-color: #cdc;
}


a {
color:blue;
text-decoration:none
}

a:visited {
color:blue;
text-decoration:none
}
a.someclass {
text-decoration:none
color:blue;
}
