<table id="form_countries"  width="80%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0" border="1">
<tr>
<th  width="20%" align="center">Country code</td>
<th align="center">Country name</td>
<th  width="20%" align="center">Visited?</td>
</tr>
<% @countries.each_with_index do |country, index| %>
<tr>
<td><%= country.countrycode %></td><td><%= link_to country.name, country_currencies_path(:id=>country.id) %></td>
<td><% if country.visited %>
		<%= image_tag("icons/status_checked.png",:border=>0, :title=>'visited') %>
	<% else %>
		<%= image_tag("icons/status_shutdown.png",:border=>0, :title=>'not_visited') %>
	<% end %>
</td>
</tr>
<% end %>
</table>
